body {
  --lightGrayishCyan: hsl(180, 52%, 96%);
  --lightGrayish: hsl(180, 31%, 95%);
  --darkGrayish: hsl(180, 8%, 52%);
  --veryDarkGrayish: hsl(180, 14%, 20%);
  --deSaturatedDarkCyan: hsl(180, 29%, 50%);
  --baseFontSize: 1rem;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
}
