.layout-container {
  min-width: var(--minWidthContainer);
  .bg-cyan {
    background-color: var(--lightGrayish);
    padding-bottom: 3rem;
  }
}

.App-header {
  background: url("../assets/images/bg-header-desktop.svg") no-repeat #5ba4a4;
  background-size: cover;
  height: 15vh;
}
