.job-container {
  --borderRadius: 5px;
  position: relative;
  padding: calc(var(--baseFontSize) * 1.5) calc(var(--baseFontSize) * 2);
  background-color: #fff;
  border-radius: var(--borderRadius);
  box-shadow: 10px 10px 15px var(--lightGrayish);
  min-width: var(--minWidthCardContainer);
  .logo {
    max-width: 10vw;
    width: 100%;
    height: auto;
  }
  .job-details-container {
    .job-details {
      font-size: calc((var(--baseFontSize) * 0.7) + 0.15vw);
      .company > span {
        margin-right: 1em;
        color: var(--deSaturatedDarkCyan);
        font-weight: 700;
        &.badge {
          font-size: 0.8em;
          color: #fff;
          border-radius: 50px;
          text-transform: uppercase;
          padding: 8px 8px 5px 8px;
          &.badge--new {
            background-color: var(--deSaturatedDarkCyan);
          }
          &.badge--featured {
            background-color: var(--veryDarkGrayish);
          }
        }
      }
    }
    .position {
      font-size: 1.2em;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        color: var(--deSaturatedDarkCyan);
      }
    }
    .location {
      color: var(--darkGrayish);
      > * + * {
        margin-left: 1em;
      }
    }

    @media screen and (max-width: 560px) {
      margin-top: -3em;
      border-bottom: 1px solid #cacaca;
    }
  }
  .justify-content {
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
      justify-content: flex-start;
    }
  }
  .jobTags__tag {
    .tag {
      border-radius: 3px;
      &:hover {
        cursor: pointer;
        background-color: var(--deSaturatedDarkCyan);
        color: #fff;
      }
    }
  }
  &.featured {
    &::before {
      content: "";
      width: 5px;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      background-color: var(--deSaturatedDarkCyan);
      border-top-left-radius: var(--borderRadius);
      border-bottom-left-radius: var(--borderRadius);
    }
  }
}
